name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (e.g. 1.0.0)'
        required: true
        type: string

permissions:
  # allow to push the release tag
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    timeout-minutes: 60

    steps:
      - name: git checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Check Nixpkgs inputs
        uses: DeterminateSystems/flake-checker-action@main
        with:
          fail-mode: true
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Get pnpm store directory
        shell: nix develop --command bash {0}
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      # we don't use actions/setup-node because of Nix usage
      - name: Setup pnpm cache
        uses: actions/cache@v4.0.2
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install npm dependencies
        shell: nix develop --command bash {0}
        run: pnpm -r install --frozen-lockfile

      - name: Set packages version
        shell: nix develop --command bash {0}
        run: pnpm nx run-many -t version --args="${{ github.event.inputs.version }}"

      - name: Dry-run publishing
        shell: nix develop --command bash {0}
        run: pnpm nx run-many -t publish --dry-run

      - name: Publish to npm
        shell: nix develop --command bash {0}
        run: |
          pnpm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_ACCESS_TOKEN }}
          pnpm nx run-many -t publish

      - name: Tag
        run: |
          git tag ${TAG}
          git push origin ${TAG}
        env:
          TAG: v${{ github.event.inputs.version }}
